{% extends 'base.html' %}

{% block content %}

<form
  class="signup"
  id="signup_form"
  method="post"
  action="{% url 'user:signup' %}"
>
  {% csrf_token %}

  {{form.non_field_errors}}
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input{% if form.email.errors %} is-danger{% endif %}"
        type="email"
        placeholder="Email"
        id="id_email"
        name="email"
        required="true"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    {% if form.email.errors %}
    <p class="help is-danger">{{ form.email.errors }}</p>
    {% endif %}
  </div>

  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input{% if form.password.errors %} is-danger{% endif %}"
        type="password"
        placeholder="Password"
        id="id_password"
        name="password"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    {% if form.password.errors %}
    <p class="help is-danger">{{ form.password.errors}}</p>
    {% endif %}
  </div>
  {{ form.profile_type }}

  <button class="btn btn-primary" type="submit">Signup</button>
</form>
{% endblock content %}
